// @import "base/global";
@import "base/product/detail.scss";

// PDP exercise 

// Attributes 
.add-space {
    margin-top: 20px;
}

.add-border {
    border-top: 1px solid darkgrey;
    padding-bottom: 20px;
}

.attributes {
    padding: 0;
}

.select-attribute {
    display: flex;
    flex-wrap: wrap;
}

.select-attribute label {
    display: flex;
    border: 1px solid gray;
    padding: 4px 6px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.select-attribute input {
    display: none;
    visibility: hidden;
}

.attr-element.active + label {
    background-color: darkgray;
    border: 1px solid darkgray;
    color: white;
    cursor: default;
}

// Carousel 
.carousel {
    display: flex;
}

.carousel-inner {
    overflow: initial;
    width: auto;
    padding-right: 20px;
}

.carousel-item {
    display: block;
    float: none;
    width: 100px; 
    margin-right: 0;
    border: none;
    background: 0;
    &:focus, &.active {
        outline: 5px auto lightgray;
    }
}

