.lyubo-hero-carousel {
    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
    .slick-prev:before, .slick-next:before {
        color: black;
    }
}

.add-space {
    margin-top: 20px;
}

.add-border {
    border-top: 1px solid darkgrey;
    padding-bottom: 20px;
}

// PDP exercise 

.carousel {
    display: flex;
}

.carousel-inner {
    overflow: initial;
}

.carousel-item {
    display: block;
    float: none;
    width: 100px; 
    margin-right: 0;
    border: none;
    background: 0;
}
