.image-cropper {
    margin-top: 70px;
    width: 100%;
    height: 200px;
    border-radius: 0;
    background-size: cover;
}

.lyubo-category__cta {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    pointer-events: none;
}

.lyubo-category__short-description {
    margin-bottom: 50px;
}

.position-top {
    top: 70px;
}

.position-bottom {
    top: auto;
    bottom: 20px;
    color: black;
}
